$color-primary-1: #335441;
$color-primary-2: #87bc60;
$color-primary-3: #aee178;

$color-secondary-1: #e7b343;
$color-secondary-2: #ffe78f;
$color-secondary-3: #fffdf1;

$color-gray-1: #404040;
$color-gray-2: #909090;
$color-gray-3: #bcbcbc;
$color-gray-4: #f5f5f5;

$color-success: #34c759;
$color-error: #ff3b30;
$color-warning: #ff9500;
$color-info: #007bfe;

$color-black: #333;
$color-white: #fff;

$break-point: 1100px;